@import url('https://fonts.googleapis.com/css?family=Rowdies');

.App {
  text-align: center;
}


ul{
  list-style: none;
}
.list-group{
	margin-top: 120px;
}


.btn:focus{
	outline:none !important;
	box-shadow: none !important;
	
}
.btn::active{
	outline:none !important;
	box-shadow: none !important;
}
.btn::hover{
	outline:none !important;
	box-shadow: none !important;
}

.navbar-brand{
	font-family: 'Rowdies', cursive;
	font-weight: bold;
	
}
.disabled{
	cursor: default !important; 
}
.rules{
	font-weight: bold;
	font-size: 18px;
}

